<h1>Пользователи</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>email</th>
      <th>редактор</th>
      <th>админ</th>
      <th>Дайджест</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.editor ? "да" : "нет" %></td>
        <td><%= user.admin ? "да" : "нет" %></td>
        <td><%= user.digest %> </td>
        <td><%= link_to "Просмотр", :controller => :users, :action => :show, :id => user.id %> </td>
        <td><%= link_to "Редактировать", :controller => :users, :action => :edit, :id => user.id %></td>
        <td><%= link_to 'Удалить', {controller: :users, action: :show, id: user.id}, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

