<h1>Новости</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>User</th>
      <th>User email</th>
      <th>edits number</th>
      <th <%if(@can_edit)%>colspan="3"><%end%></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |new| %>
      <tr>
        <td><%= new.id %></td>
        <td><%= new.title %></td>
        <td><%= new.content %></td>
        <td><%= new.author %></td>
        <td><%= new.user_id %></td>
        <td><%= new.user.email %></td>
        <td><%= new.edits_number %></td>
        <td><%= link_to "Просмотр", new, target: "_blank" %></td>
        <%if(@can_edit)%><td><%= link_to "Редактировать", :controller => :news, :action => :edit, :id => new.id %></td><%end%>
        <%if(@can_edit)%><td><%= link_to 'Удалить', {controller: :news, action: :show, id: new.id}, method: :delete, data: { confirm: 'Вы уверены?' } %></td><%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if(@can_edit)%><%= link_to "Создать новость", {:controller => :news, :action => :new}, class: "btn btn-primary" %><%end%>
