<p id="notice"><%= notice %></p>

<h1>Admin News1s</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_news1s.each do |admin_news1| %>
      <tr>
        <td><%= link_to 'Show', admin_news1 %></td>
        <td><%= link_to 'Edit', edit_admin_news1_path(admin_news1) %></td>
        <td><%= link_to 'Destroy', admin_news1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin News1', new_admin_news1_path %>
