<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "test2 app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('.main_page'), root_path %></li>
        <li><%= link_to t('.news_page'), news_index_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t('.account') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('.profile_page'), profile_path %></li>
              <% if current_user.editor? %><li><%= link_to t('.news_page'), controller: 'admin/news', action: :index %></li><% end %>
              <% if current_user.admin? %><li><%= link_to t('.users_page'), controller: 'admin/users', action: :index %></li><% end %>
              <li class="divider"></li>
              <li>
                <%= link_to t('.logout'), destroy_user_session_path, :method => :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t('.login'), new_user_session_path %></li>
          <li><%= link_to t('.register'), new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>