<% provide(:title, 'Регистрация') %>
<h1>Регистрация</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>

  
 
    <%= f.label 'Имя' %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>


    <%= f.label 'Пароль' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>

    <%= f.label 'Повторите пароль' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>

    <%= f.submit "Зарегистрироваться", class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>